<!-- Mostrar el nombre declarado en app.components.ts -->
<h1>Hola: {{userName}}</h1>

<!-- Cambiar el nombre y sumar 1 por cada letra -->
<input type="text" [(ngModel)]="userName" (input)="addOne()"> 

<!-- Cada vez que se cliquee se sume 1 -->
<h1 (click)="addOne()">Numero: {{number}}</h1> 

<!-- Esto sirve para llamar a otro componente -->
<app-header></app-header>

<!-- Condicionales if y else (tambien existe case)-->
 <h1>Bloque &#64;if</h1>
@if( number > 3)
{
  <h2>la condicion se cumple</h2>
}@else if (number == 3) 
{
  <h2>la condicion CASI cumple</h2>
}
@else 
{
  <h2>la condicion NO se cumple (Aumenta el numero)</h2>
}

<!-- Bucle for-->
<h1>Bloque &#64;for - Con listas</h1>
@for(movie of movies; track $index)
{
  <p>{{$index+1}} - {{movie}}</p>
}

<!-- Bucle for (Objetos)-->
<h1>Bloque &#64;for - Con Objetos</h1>
@for(animal of animals.getAnimals(); track animal)
{
  <p>{{animal.id}} - {{animal.name}}</p>
  <img [src] = "animal.img" alt="" width="100">

}
<!-- Herencia-->
<h1>------------------Soy el componente CHILD1!-------------------------</h1>
<h1>Bloque &#64;input</h1>
<app-child msg="Mensaje del padre para el hijo SIN variable"></app-child>
<app-child [msg]="herencia"></app-child>
<app-child [animals]="getAnimalList()"></app-child>
<!-- Herencia-->
<h1>------------------Soy el componente CHILD2!-------------------------</h1>
<h1>Bloque &#64;Output</h1>
<h2>Hola {{userName}}</h2>
<app-child2 (loginEve)="setName($event)"></app-child2>